<div class="body-main">
  <div class="banner">
    <img [src]="'assets/images/foods/f30.jpg'" />
  </div>
  <div class="marquee-container">
    <div class="marquee">ĐẠI DƯƠNG FOODS - SẢN PHẨM CỦA CHÚNG TÔI</div>
  </div>

  <div class="row">
    <ng-container *ngFor="let item of listProduct">
      <div class="column">
        <div class="card">
          <p class="text-id">MÃ: {{ item.id }}</p>
          <h3>{{ item.name }}</h3>
          <p>{{ item.decription }}</p>
          <img
            [src]="'assets/images/foods/' + item.imageUrl"
            style="width: 230xp; height: 360px"
          />
          <p class="text-contact mg-12">
            <i class="fa fa-phone"></i>
            <a class="mg-12" [href]="'tel:' + item.contact">{{
              item.contact
            }}</a>
          </p>
          <p class="text-banking mg-12">
            <i class="fa fa-envelope"></i
            ><a class="mg-12">{{ item.banking }}</a>
          </p>
        </div>
      </div>
    </ng-container>
  </div>
</div>
