<div class="body-main">
  <div class="marquee-container">
    <div class="marquee">ĐẠI DƯƠNG FOODS - SẢN PHẨM CỦA CHÚNG TÔI</div>
  </div>

  <div class="row">
    <ng-container *ngFor="let item of listProduct">
      <div class="column">
        <div class="card">
          <p class="text-id">{{ item.id }}</p>
          <h3>{{ item.name }}</h3>
          <p>{{ item.decription }}</p>
          <img
            [src]="'assets/images/foods/' + item.imageUrl"
            style="width: 230xp; height: 360px"
          />
          <p class="text-id">SĐT: {{ item.contact }}</p>
          <p class="text-id">BANK: {{ item.banking }}</p>
        </div>
      </div>
    </ng-container>
  </div>
</div>
