/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 10px 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

.marquee-container {
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    background-color: #f4f4f4; /* Màu nền */
    padding: 10px; /* Khoảng cách xung quanh */
    border-radius: 5px; /* Độ cong viền */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Đổ bóng nhẹ */
  }

  .marquee {
    font-size: 24px; /* Đặt kích thước chữ */
    animation: marqueeAnimation 35s linear infinite; /* Thêm animation cho chữ chạy */
    font-family: 'Arial', sans-serif; /* Font chữ */
    font-weight: bold; /* Phồng chữ */
    color: #333; /* Màu chữ */
    letter-spacing: 1px; /* Khoảng cách giữa các ký tự */
    line-height: 1.5; /* Chiều cao của mỗi dòng */
  }

  @keyframes marqueeAnimation {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
  }

@keyframes colorBlink {
  0% { color: #ff0000; } /* Màu đỏ */
  25% { color: #ff9900; } /* Màu cam */
  50% { color: #ffff00; } /* Màu vàng */
  75% { color: #00ff00; } /* Màu xanh lá cây */
  100% { color: #0000ff; } /* Màu xanh dương */
}

.text-id {
  animation: colorBlink 10s infinite; /* 5s là thời gian mỗi chu kỳ nhấp nháy, infinite để lặp vô hạn */
}
.banner {
  background-color: white; /* Đặt màu nền là trắng */
  padding: 10px; /* Tăng khoảng cách xung quanh hình ảnh */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Thêm đổ bóng nhẹ */
}

.banner img {
  width: 100%; /* Chiếm toàn bộ chiều rộng của div */
  height: auto; /* Duy trì tỉ lệ khung hình */
  display: block; /* Loại bỏ khoảng trắng dưới hình ảnh khi hiển thị dưới dạng inline */
}
