<div class="featured section mb-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-4" *ngFor="let item of listService">
        <div class="left-image">
          <img [src]="item.src" alt="" />
        </div>
      </div>
      <div class="col-lg-5">
        <div class="section-heading">
          <h6>| Phong Cách</h6>
          <h2>Đồ gỗ, nội thất hùng hòa sang trọng &amp; lịch sự</h2>
        </div>
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                Dòng gỗ nội thất được ưu chuộng ở Việt Nam
                <i class="pi pi-replay"></i>
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse show"
              aria-labelledby="headingOne"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Ở Việt Nam, có một số dòng gỗ nội thất được ưa chuộng phổ biến
                như sau: Gỗ Gụ (Rosewood): Gỗ Gụ được biết đến với vẻ đẹp đặc
                biệt và màu sắc ấm áp. Nó thường được sử dụng cho các mảng nội
                thất cao cấp như bàn ăn, tủ kệ và ghế sofa. Gỗ Xoan Đào (Cherry
                Wood): Gỗ Xoan Đào thường có màu sắc đỏ nâu và vân gỗ đẹp mắt.
                Đây là lựa chọn phổ biến cho các món đồ nội thất cổ điển và sang
                trọng như bàn làm việc, giường ngủ và tủ sách. Gỗ Cẩm Lai
                (Rosewood): Gỗ Cẩm Lai là loại gỗ có vân gỗ đẹp và màu sắc ấm
                áp. Nó thường được sử dụng cho các món đồ nội thất truyền thống
                như bàn trà, đôn, và ghế gấp. Gỗ Dổi (Acacia Wood): Gỗ Dổi là
                một lựa chọn phổ biến cho nội thất trong nước. Với tính chất bền
                bỉ và giá cả phải chăng, gỗ Dổi thường được sử dụng cho các mảng
                nội thất như bàn ăn, tủ kệ và ghế. Gỗ Sồi (Oak): Gỗ Sồi cũng
                được sử dụng phổ biến trong nội thất ở Việt Nam. Nó thường được
                ưa chuộng vì tính chất đẹp và độ bền cao, phù hợp cho nhiều loại
                đồ nội thất từ bàn ghế đến tủ kệ.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                Gỗ Mộc Hương - Hòa Quyện Giữa Vẻ Đẹp và Sự Tinh Tế
                <i class="pi pi-replay"></i>
              </button>
            </h2>
            <div
              id="collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Gỗ Mộc Hương, với vẻ đẹp ấm áp và mùi hương dễ chịu, là một
                trong những loại gỗ quý hiếm được ưa chuộng trong nghệ thuật và
                nội thất. Với màu sắc từ nâu vàng đến đỏ nâu đậm, gỗ Mộc Hương
                mang lại sự ấm áp và độc đáo cho mọi không gian. Đặc biệt, gỗ
                Mộc Hương được biết đến với vẻ đẹp tự nhiên và vân gỗ phong phú,
                tạo nên những mẫu nội thất vô cùng đẳng cấp và sang trọng. Không
                chỉ là vật liệu chất lượng, gỗ Mộc Hương còn là biểu tượng của
                sự tinh tế và sự sang trọng trong nghệ thuật trang trí nội thất.
                Với khả năng chống mối mọt và độ bền cao, gỗ Mộc Hương là lựa
                chọn hoàn hảo cho mọi ứng dụng từ ghế đến bàn, từ tủ đến giường
                ngủ. Sự hài hòa giữa vẻ đẹp tự nhiên và tính ứng dụng của gỗ Mộc
                Hương không chỉ làm cho không gian trở nên ấm cúng mà còn tạo
                nên điểm nhấn độc đáo và quý phái trong mọi không gian sống. Hãy
                để gỗ Mộc Hương làm cho không gian sống của bạn trở nên đẳng cấp
                và độc đáo hơn bao giờ hết!"
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                Gỗ Gụ - Sự Kết Hợp Hoàn Hảo Giữa Đẳng Cấp và Bền Bỉ
                <i class="pi pi-replay"></i>
              </button>
            </h2>
            <div
              id="collapseThree"
              class="accordion-collapse collapse"
              aria-labelledby="headingThree"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Gỗ Gụ, một trong những loại gỗ quý hiếm nhất trên thế giới, đem
                lại sự đẳng cấp và sự sang trọng cho mọi không gian nội thất.
                Với vẻ đẹp tự nhiên và vân gỗ độc đáo, gỗ Gụ không chỉ là biểu
                tượng của sự giàu có và độc đáo mà còn là biểu tượng của sự bền
                bỉ và lâu dài. Đặc biệt, gỗ Gụ được biết đến với tính chất chống
                mối mọt và độ bền cao, tạo nên những mảnh nội thất vững chắc và
                đẳng cấp. Từ các bộ bàn ghế đến tủ kệ và các đồ trang trí khác,
                gỗ Gụ mang lại không chỉ là sự sang trọng mà còn là sự đầu tư
                lâu dài cho không gian sống của bạn. Với màu sắc từ nâu đậm đến
                nâu đỏ và vân gỗ phong phú, gỗ Gụ tạo nên một vẻ đẹp ấn tượng và
                độc đáo mà không có loại gỗ nào có thể sánh kịp. Hãy để gỗ Gụ
                làm cho không gian sống của bạn trở nên đẳng cấp và đặc biệt hơn
                bao giờ hết."
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="info-table">
          <ul>
            <li>
              <img
                src="assets/images/info-icon-01.png"
                alt=""
                style="max-width: 52px"
              />
              <h4>
                <i class="pi pi-spin pi-cog" style="font-size: 2rem"></i>
                Giải Pháp Nội Thất Hoàn Hảo
                <br /><span>Liên Hệ Ngay Với Chúng Tôi!</span>
              </h4>
            </li>
            <li>
              <img
                src="assets/images/info-icon-02.png"
                alt=""
                style="max-width: 52px"
              />
              <h4>
                <i class="pi pi-spin pi-cog" style="font-size: 2rem"></i> Mẫu Mã
                Đa Dạng, Phong Phú<br /><span>
                  Khám Phá Sự Sáng Tạo Trong Nội Thất!</span
                >
              </h4>
            </li>
            <li>
              <img
                src="assets/images/info-icon-03.png"
                alt=""
                style="max-width: 52px"
              />
              <h4>
                <i class="pi pi-spin pi-cog" style="font-size: 2rem"></i> Chi
                phí Giá Thành Phù Hợp<br /><span
                  >Tạo Nên Không Gian Sống Ấm Cúng Cho Mọi Gia Đình!</span
                >
              </h4>
            </li>
            <li>
              <img
                src="assets/images/info-icon-04.png"
                alt=""
                style="max-width: 52px"
              />
              <h4>
                <i class="pi pi-spin pi-cog" style="font-size: 2rem"></i> Đội
                Ngũ Thiết Kế Nội Thất Kinh Nghiệm<br /><span
                  >Tạo Nên Không Gian Sống Đẳng Cấp!</span
                >
              </h4>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
