<div class="grid">
  <div class="col-12 center">
    <h3>SẢN PHẨM TỦ GỖ TỦ</h3>
  </div>
  <ng-container *ngFor="let item of listProduct">
    <div class="col-6 md:col-3" (click)="openDialog(item)">
      <div class="card pointer">
        <!-- <h5>{{ item.name }}</h5> -->
        <!-- <p [innerHTML]="item.title"></p> -->
        <img [src]="item.src" style="width: 90%; height: 90%" />

        <p class="text-banking mg-12">
          <i class="pi left pi-chevron-circle-right"></i
          ><a class="mg-12">Ấn vào ảnh để xem chi tiết</a>
        </p>
      </div>
    </div>
  </ng-container>
</div>
