.nav {
  background-color: goldenrod;
  border-bottom: 1px solid gold;
  position: absolute;
  width: 100vw;
  top:0;
  left: 0;
}
.nav__toggle {
  position: absolute;
  cursor: pointer;
  margin: 0rem 1rem;
  right: 0;
}

.logo{
  border-radius: 22px;
}

.close,
input[type="checkbox"] {
  display: none;
}
.hamburger {
  margin-top: 50px;
}
.nav__menu {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  margin-top: 1rem;
  margin-right: 2rem;
}
li {
  list-style: none;
  display: none;
}
li:first-child {
  margin-right: auto;
  display: block;
}
.nav__menu a {
  text-decoration: none;
  color: initial;
  font-size: 1.3rem;
  font-weight: bolder;
  color: cornsilk;
}
#nav__checkbox:checked ~ ul.nav__menu li {
  display: block;
}
#nav__checkbox:checked ~ label.nav__toggle .hamburger {
  display: none;
}
#nav__checkbox:checked ~ label.nav__toggle .close {
  display: block;
  margin-top: 55px;
}

@media only screen and (min-width: 768px) {
  .nav__toggle {
    display: none;
  }
  .nav__menu {
    flex-direction: row;
  }
  .nav__menu li {
    display: block;
  }
}
