<nav class="nav">
  <input type="checkbox" id="nav__checkbox" class="nav__checkbox" />
  <label for="nav__checkbox" class="nav__toggle">
    <img
      src="assets/imgs/menu.png"
      class="hamburger"
      width="32px"
      height="32px"
    />

    <img src="assets/imgs/close.png" class="close" width="32px" height="32px" />
  </label>

  <ul class="nav__menu">
    <li>
      <a href="#">
        <img
          class="logo"
          src="assets/imgs/logo2.jpg"
          width="142px"
          height="108px"
        />
      </a>
    </li>
    <li><a href="#">Trang chủ</a></li>
    <li><a href="#">Sản phẩm</a></li>
    <li><a href="#">Liên hệ</a></li>
  </ul>
</nav>
