<div class="grid mt-4">
  <div class="col-12">
    <header class="mb-4">
      <h3>Tin tức</h3>
    </header>
    <div class="band">
      <ng-container *ngFor="let post of listPost; let index = index">
        <div class="item-{{ index + 1 }}">
          <a href="{{ post.link }}" class="card">
            <div
              class="thumb"
              [style.background-image]="'url(' + post.src + ')'"
            ></div>

            <article>
              <h1>{{ post.title }}</h1>
              <span>{{ post.subtitle }}</span>
            </article>
          </a>
        </div>
      </ng-container>
    </div>
  </div>
</div>
