<div class="grid mt-4">
  <div class="col-12">
    <header class="mb-4">
      <h3>Thông tin hữu ích</h3>
    </header>
    <div class="band">
      <ng-container *ngFor="let post of listPost; let index = index">
        <div class="item-{{ index + 1 }}">
          <a
            href="https://design.tutsplus.com/articles/international-artist-feature-malaysia--cms-26852"
            class="card"
          >
            <div
              class="thumb"
              style="
                background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/flex-1.jpg);
              "
            ></div>
            <article>
              <h1>International Artist Feature: Malaysia</h1>
              <span>Mary Winkler</span>
            </article>
          </a>
        </div>
      </ng-container>
    </div>
  </div>
</div>
